<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>
    Choose a day for reservation date:
</h1>

<p style="fill: #b21212" th:if="${!errorMessage.isEmpty()}" th:text="${errorMessage}"/>


<form method="post" th:action="@{/submit}" th:object="${activeDays}">
    Saturday:
    <input th:field="*{saturday}" type="checkbox" value="saturday"><br>
    Monday:
    <input th:field="*{monday}" type="checkbox" value="monday"><br>
    Wednesday:
    <input th:field="*{wednesday}" type="checkbox" value="wednesday">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>