<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>
    Choose a day for reservation date:
</h1>

<ul>
    <li style="fill: darkred" th:if="!${error.isEmpty()}" th:text="${error}"/>
</ul>

<form method="post" th:action="@{/submit}">
    <input id="Saturday" th:name="saturday" type="checkbox" value="Saturday">
    <label for="Saturday"> Saturday</label><br>
    <input id="monday" th:name="monday" type="checkbox" value="Monday">
    <label for="monday"> Monday</label><br>
    <input id="Wednesday" th:name="wednesday" type="checkbox" value="Wednesday">
    <label for="Wednesday"> Wednesday</label>
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>