<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Times</title>
</head>
<body>
<ul>
    <li style="fill: darkred" th:if="!${errorMessage.isEmpty()}" th:text="${errorMessage}"/>
</ul>
<form method="post" th:action="@{/submitTime}" th:object="times">
    Available Times:<br><br>
    <th:block th:each="time : ${times.getAvailableTimes()}" th:field="*{availableTimes}">
        <input th:text="${time}" th:value="${time}" type="checkbox"><br><br>
    </th:block>
    <input type="submit" value="Submit">
</form>
</body>
</html>